/* ===================================== GLOBAL ========================================= */

:root {
    --white: #fff;
	--primary: #ff3f3a;
	--secondary: #ffcf2d;
	--success: #03cea4;
	--danger: #ff4242;
	--warning: #f89828;
	--info: #5a87fc;
	--gray-900: #1e212c;
	--gray-800: #424551;
	--gray-700: #787a80;
	--gray-600: #9a9ca5;
	--gray-500: #b3b7bc;
	--gray-400: #d7dadd;
	--gray-300: #e5e8ed;
	--gray-200: #f4f5f6;

    --font-family: "Lato", sans-serif;

    --transition: all .2s linear;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 126rem;
    padding-inline: 3rem;
    margin: 0 auto;
    height: 100%;
}

.button {
    display: inline-block;
    background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
    padding-inline: 4rem;
    color: var(--white);
    letter-spacing: .05rem;
    line-height: 5.2rem;
    font-weight: 700;
    font-size: 1.6rem; 
    border-radius: .4rem;
    white-space: nowrap;
    transition: var(--transition);
    
}

.button--empty {
    background-image: none;
    border-left: .2rem solid #FF3F3A;
    border-right: .2rem solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% .2rem;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button--empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button:hover {
    transform: scale(1.05);
}

.logo {
    max-width: 13rem;
}

.heading__subtitle {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--gray-900);
    margin-bottom: .8rem;
}
.heading__title {
    font-weight: 900;
    font-size: 4.6rem;
    line-height: 1.3;
    color: var(--gray-900);
}

.heading--center {
    text-align: center;
}
/* ======================================== HEADER =========================================== */

.hero-header-wrapper {
    background: url("../images/decor/shapes-bg.svg") 50% 50% / cover no-repeat, linear-gradient(45deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 18rem;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 2rem 0;
}

.header__logo {
    margin-right: 6rem;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item:not(:last-child) {
    margin-right: 4rem;
}

.header__nav-link {
    line-height: 1.6;
    color: var(--gray-800);
    white-space: nowrap;
    transition: var(--transition);
}

.header__nav-link:hover {
    color: var(--primary);
}

.header__btns-box {
    display: flex;
    align-items: center;
}


.header__btn {
    margin-right: 3.6rem;
}
.header__btn-reg {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--gray-800);
    background-color: transparent;
    white-space: nowrap;
    position: relative;
    padding-left: 2.8rem;
    transition: var(--transition);
}

.header__btn-reg:hover {
    color: var(--primary);
}

.header__btn-reg::before {
    content: "";
    background: url("../images/icons/user-icon.svg") no-repeat;
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

/* =========================================== HERO ============================================ */

.section-hero {
    flex-grow: 1;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}

.hero__content {
    margin-right: 3rem;
}

.hero__play {
    display: flex;
    align-items: center;  
    margin-bottom: 2.4rem;
}

.hero__play-image {
    margin-right: 1.6rem;
    
}

.hero__play-img {
    border-radius: 50%;
    transition: var(--transition);
}

.hero__play:hover .hero__play-img {
    box-shadow: 0 0 0 1.6rem rgba(255, 63, 58, 0.12);
}

.hero__title {
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--gray-900);
    max-width: 50rem;
    margin-bottom: 6rem;
}

.hero__btns {
    display: flex;
    gap: 2.4rem;
}

.hero__image {
    max-width: 40%;
}

.hero__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
}

.hero__list > span {
    background-color: var(--primary);
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
    margin-inline: 1.5rem;
}

.hero__item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--gray-900);
    display: flex;
    align-items: center;
}

.hero__item span {
    font-weight: 900;
    font-size: 4.6rem;
    line-height: 1.3;
    text-align: center;
    color: var(--gray-900);
    margin-right: 1.2rem;
}

/* ====================================== ABOUT ========================================= */

.main__about {
    padding-bottom: 16rem;
    background: url("../images/decor/1.svg") no-repeat;
    background-position: top 1rem right 6rem;
}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 18rem;
    position: relative;
    
}

.about__createx-content {
    max-width: 60rem;
    margin-right: 3rem;
}

.about__heading {
    margin-bottom: 4.8rem;
}

.about__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--gray-800);
}

.about__text {
    margin-bottom: 6rem;
}

.about__paragraph:not(:last-child) {
    margin-bottom: 2.4rem;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--gray-900);
}
.about__btns-box {
    display: flex;
    gap: 2.4rem;
}

.about__values {
    display: flex;
    justify-content: space-between;
    
}

.about__image-box {
    border-radius: .4rem;
    overflow: hidden;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: 3rem;
    align-self: center;
}

.about__number {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--gray-900);
    display: flex;
    align-items: center;
}

.about__number:not(:last-child) {
    margin-bottom: 2rem;
}

.about__number span {
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--primary);
    margin-right: 1.6rem;
}

/* ====================================== DIRECTIONS ========================================= */

.main__directions {
    margin-bottom: 9rem;
    overflow: hidden;
}

.directions-inner {
    position: relative;
    padding-bottom: 9rem;
    
}

.directions-inner::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: -19rem;
    background: url("../images/decor/2.svg") 0 0 / 100% no-repeat;
    width: 13.6rem;
    height: 11.5rem;
    display: block;
}

.directions-inner::after {
    content: "";  
    position: absolute;
    top: 40rem;
    right: -40rem;
    background: url("../images/decor/3.svg") 0 0 / 100% no-repeat;
    width: 24.3rem;
    height: 24.3rem;
    display: block;
    opacity: .12;
    
}

.directions__heading {
    margin-bottom: 9rem;
    
}

.directions__filter-box {
    display: flex;
    gap: 4.5rem;
    margin-bottom: 5.6rem;
}

.directions__filter-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--gray-600);
    border: 1px solid var(--gray-600);
    border-radius: 4px;
    background-color: transparent;
    padding: .5rem .7rem;
}

.directions__filter-btn--active {
    background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
    border: none;
    color: var(--white);
    font-size: 16px;
    padding: .6rem .8rem;
}
.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 3rem;
}

.directions__list-link {
    border-radius: .4rem;
    overflow: hidden;
    display: block;
    transition: var(--transition);
}

.directions__list-link:hover, .directions__list-item--empty:hover {
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.directions__list-link:hover .directions__link-btn {
    color: var(--primary);
}

.direction__image-box img{
    height: 100%;
    width: 100%;
}

.directions__link-content {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-300);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.directions__link-tag {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    background-color: #999;
    padding: .6rem .8rem;
    border-radius: .4rem;
    align-self: flex-start;
    margin-bottom: 2rem;
}
.directions__link-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-700);
    margin-bottom: 2rem;
    
}
.directions__link-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-900);
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.directions__link-btn::after {
    content: "";
    display: block;
    background: url("../images/icons/arrow-right-red.svg") 0 0 / 100% no-repeat;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1.1rem;

}

.directions__list-item--empty {
    background: var(--gray-200);
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-800);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.directions__list-item--empty span {
    max-width: 24rem;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: var(--success);
}

.directions__list-item--management .directions__link-tag {
    background-color: var(--info);
}

.directions__list-item--hr .directions__link-tag {
    background-color: var(--warning);
}

.directions__list-item--design .directions__link-tag {
    background-color: #f52f6e;
}

.directions__list-item--development .directions__link-tag {
    background-color: #7772f1;
}

/* ================================ CERTIFICATE ====================================== */

.main__cert {
    margin-bottom: -4.6rem;
}

.cert-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cert-inner::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -19rem;
    background: url("../images/decor/4.svg") 0 0 / 100% no-repeat;
    width: 6rem;
    height: 6rem;
    display: block;
}

.cert__content {
    margin-right: 3rem;
    max-width: 40rem;
}
.cert__heading {
    margin-bottom: 4.8rem;
}

.cert__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-800);
    margin-bottom: 3rem;
}

.cert__logos-list {
    display: flex;
    gap: 4rem;
}

.cert__image-box {
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.1), 0 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.cert__image-box img {
    width: 100%;
}

/* ======================================== TEAM ============================================= */

.main__team {
    padding: 18rem 18rem 0 18rem;
    
}

.team {
    background: url('../images/decor/team-bg.svg') 18rem 3rem no-repeat, var(--gray-200);
}

.team__heading {
    margin-bottom: 6rem;
    position: relative;
}

.team__slider .slick-list {
    margin-inline: -1.5rem;

}
.team__slide {
    padding-inline: 1.5rem;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
}

.team__image-box {
    border-radius: .4rem;
    margin-bottom: 1.6rem;
    position: relative;
    overflow: hidden;
}
.team__image {
    position: relative;
    height: 34rem;
    overflow: hidden;
    border-radius: .4rem;
}

.team__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.team__socials {
    display: flex;
    gap: 1.2rem;
    align-items: flex-end;
    justify-content: end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
    transform: translateY(50%);
    transition: var(--transition);
}

.team__socials-link {
    display: block;
    line-height: 0;
}

.team__socials-link path {
    transition: var(--transition);
}

.team__socials-link:hover path {
    fill: var(--white);
}
.team__info {
    text-align: center;
}
.team__info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray-800);
    margin-bottom: .5rem;
}
.team__info-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-700);
}

.team__slider-arrows {
    position: absolute;
    right: 0;
    bottom: 0;
}

.team__slider-arrows {
    display: flex;
}

.team__slider-arrow {
    display: block;
    line-height: 0;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}

.team__slider-arrow path {
    transition: all .3s;
}

.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: #FF3F3A;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev {
    margin-right: 24px;
}

/* ===================================== TESTIMONIALS ===================================== */

.main__testimonials {
    padding: 18rem 0;
}
.testimonials {
    background: #F4F5F7;
    position: relative;
    overflow: hidden;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -45.4%);
    background: url("../images/decor/testi-bg.svg") 0 0 / 100% no-repeat;
    width: 1971px;
    height: 816px;
}

.testimonials__inner {
    position: relative;
    z-index: 1;
}

.testimonials__heading {
    margin-bottom: 60px;
}

.testimonials__slider-wrapper {
    padding: 0 50px;
    position: relative;
    margin-bottom: 5rem;
}

.testimonials__slider {
    max-width: 102rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.testimonials__slide {
    padding: 64px;
    background-color: #fff;
    border-radius: 4px;
    border-radius: .4rem;
    
}

.testimonials__slide-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}

.testimonials__quote {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    position: relative;
}

.testimonials__quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: -58px;
    background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
    width: 28px;
    height: 20px;
}

.testimonials__user {
    display: flex;
    align-items: center;
}
.testimonials__avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2rem;;
}

.testimonials__info-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-900);
    margin-bottom: .4rem;
}
.testimonials__info-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-700);
}

.testimonials__arrow {
    position: absolute;
    top: -8rem;
    bottom: 0;
    width: 50px;
    display: flex;
    align-items: center;
    z-index: 5;
}

.testimonials__arrow path {
    transition: all .3s;
}

.testimonials__arrow::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #FF3F3A;
    border-radius: 50%;
    z-index: -1;
    transition: var(--transition);
}

.testimonials__prev {
    left: 0;
}

.testimonials__prev::before {
    transform: translate(-50%, -50%) scale(0);
    left: 22%;
}

.testimonials__next {
    right: 0;
    justify-content: flex-end;
}

.testimonials__next::before {
    transform: translate(50%, -50%) scale(0);
    right: 22%;
}

.testimonials__arrow:hover path {
    fill: var(--white);
}

.testimonials__prev:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials__next:hover::before {
    transform: translate(50%, -50%) scale(1);
}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__dots li:not(:last-child) {
    margin-right: 1.2rem;
}

.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    
}

.testimonials__dots button::before {
    content: "";
    height: .3rem;
    width: 100%;
    background: var(--gray-500);
    border-radius: .3rem;
}

.testimonials__dots .slick-active button::before {
    background-color: var(--gray-800);
    transform: var(--transition);
}

/* ==================================== COMPANIES ====================================== */

.main__companies {
    padding-bottom: 17.7rem;
}
.companies {
    background: #F4F5F7;
}

.companies-inner {
    position: relative;
}

.companies-inner::before {
    content: "";
    position: absolute;
    display: block;
    left: -23rem;
    bottom: -12rem;
    background: url("../images/decor/5.svg") 0 0 / 100% no-repeat;
    width: 9rem;
    height: 9rem;
}
.companies__heading {
    margin-bottom: 6rem;
}

.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 4rem 10rem;
}
.companies__grid-item {
    display: block;
}

.companies__grid-item img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: .4;
    transition: var(--transition);
}

.companies__grid-item:hover img {
    opacity: 1;
    filter: grayscale(0);
}

/* =========================================== PROGRAM ====================================== */

.main__program {
    padding: 11.5rem 0 18.5rem;
}
.program-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.program__content {
    margin-right: 3rem;
    max-width: 60rem;
}
.proram__heading {
    margin-bottom: 6rem;
}

.program__acc-link {
    display: block;
    padding-left: 4rem;
}

.program__acc-item:not(:last-child) {
    margin-bottom: 2.4rem;
}
.program__acc-head {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--gray-900);
    position: relative;
}

.program__acc-head::before, 
.program__acc-head::after  {
    content: "";
    position: absolute;
    top: 50%;
    left: -4rem;
    width: 1.8rem;
    height: .2rem;
    display: block;
    background-color: var(--primary);
    border-radius: .4rem;
}

.program__acc-head::after {
    transform: rotate(90deg);
    transition: var(--transition);
}
.program__acc-head span {
    font-weight: 400;
    color: var(--primary);
    margin-right: .8rem;
}
.program__acc-text {
    margin-top: 1.6rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-800);
    display: none;
}

.program__acc-link--active .program__acc-head::after {
    transform: rotate(0deg);
}

/* ========================================== BLOG ============================================= */

.main__blog {
    padding-bottom: 20rem;
}
.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6rem;
}
.blog__heading {
    margin-right: 3rem;
}

.blog__row {
    display: flex;
    gap: 3rem;
}

.blog__item-link {
    display: block;
}

.blog__item {
    transition: var(--transition);
}

.blog__item:hover {
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.blog__item:hover .blog__item-button {
    color: var(--primary);
}

.blog__image-box {
    border-radius: .4rem;
    overflow: hidden;
    margin-bottom: 1.6rem;
    position: relative;
}

.blog__image-box img {
    width: 100%;
    height: 100%;
    min-height: 30rem;
    object-fit: cover;
}

.blog__image-box span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-800);
    display: block;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    padding: .1rem .8rem;
    background-color: var(--white);
    border-radius: .4rem;

    display: flex;
    align-items: center;
}

.blog__image-box span::before {
    content: "";
    width: 1.6rem;
    height: 1.7rem;
    display: inline-block;
    margin-right: .4rem;
}

.blog__item-info {
    display: flex;
    gap: 2.4rem;
    margin-bottom: .8rem;;
}

.blog__info-el {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-700);
}

.blog__info-el:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1.2rem;
    display: block;
    width: .1rem;
    height: 1.2rem;
    background-color: var(--gray-700);
}
.blog__info-dir {
    font-weight: 700;
}
.blog__info-date {
    display: flex;
    align-items: center;
}

.blog__info-date::before {
    content: "";
    display: inline-block;
    background: url('../images/icons/calendar-icon.svg') 0 0 / 100% no-repeat;
    margin-right: .9rem;
    width: 1.6rem;
    height: 1.5rem;
}

.blog__info-time {
    display: flex;
    align-items: center;
}

.blog__info-time::before {
    content: "";
    display: inline-block;
    background: url('../images/icons/clock-icon.svg') 0 0 / 100% no-repeat;
    margin-right: .9rem;
    width: 1.6rem;
    height: 1.5rem;
}

.blog__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray-900);
    margin-bottom: .8rem;
}
.blog__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-800);
    margin-bottom: 1.6rem;
}
.blog__item-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-900);
    display: flex;
    align-items: center;
    transition: var(--transition);
    margin-bottom: 1.6rem;
}

.blog__item-button::after {
    content: "";
    display: inline-block;
    background: url('../images/icons/arrow-right-red.svg') 0 0 / 100% no-repeat;
    margin-left: .8rem;
    width: 2.4rem;
    height: 2.4rem;
    transition: var(--transition);
}

.blog__item--podcast .blog__image-box span::before {
    background: url('../images/icons/podcast-icon.svg') 0 0 / 100% no-repeat;
}
.blog__item--video .blog__image-box span::before {
    background: url('../images/icons/play-mini.svg') 0 0 / 100% no-repeat;
}
.blog__item--article .blog__image-box span::before {
    background: url('../images/icons/article-icon.svg') 0 0 / 100% no-repeat;
}

/* ======================================== CONTACT ======================================== */

.main__info {
    padding-bottom: 18rem;
}

.info-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.info__content {
    margin-right: 3rem;
}
.info__heading {
    margin-bottom: 4rem;
}

.info__contacts {
    margin-bottom: 4.8rem;
}

.info__contacts-item {
    padding-left: 3.4rem;
}
.info__contacts-item:not(:last-child) {
    margin-bottom: 2.4rem;
}

.info__item-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-700);
    position: relative;
}

.info__item-top::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -3.6rem;
    width: 2.4rem;
    height: 2.4rem;
    
}

.info__item-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-900);
    transition: var(--transition);
}

.info__item-link:hover {
    color: var(--primary);
}

.info__item--mail::before {
    background: url('../images/icons/chat-icon.svg') 0 0 / 100% no-repeat;
}

.info__item--tel::before {
    background: url('../images/icons/phone-icon.svg') 0 0 / 100% no-repeat;
}

.info__item--address::before {
    background: url('../images/icons/mark-icon.svg') 0 0 / 100% no-repeat;
}

.info__item-address {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-900);
}

.info__follow-head {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--gray-900);
    margin-bottom: 2.4rem;
}

.info__socials {
    display: flex;
    gap: 3.2rem;
}

.info__socials-link path {
    transition: var(--transition);
}

.info__socials-link:hover path {
    fill: var(--gray-900);
}

.info__map {
    height: 41.2rem;
    width: 100%;
    max-width: 70.5rem;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
    border-radius: .4rem;
    overflow: hidden;
}

/* ========================================== FORM ========================================= */

.main__questions {
    padding-bottom: 18rem;
}

.questions-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions__content {
    margin-left: 3rem;
}
.questions__heading {
    margin-bottom: 4rem;
}

.questions__form-row {
    display: flex;
    margin-bottom: 2.4rem;
}

.questions__form-label {
    flex: 1 1 auto;
    color: var(--gray-800);
}
.questions__form-label:not(:last-child) {
    margin-right: 2.5rem;
}
.questions__form-input,
.questions__form-text  {
    display: block;
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    padding: 1.3rem 1.6rem ;
    width: 100%;
    margin-top: .8rem;

}

.questions__form-input::placeholder,
.questions__form-text::placeholder {
    color: var(--gray-600);
}

.questions__text-label {
    color: var(--gray-800);
    display: block;
    margin-bottom: 5rem;
}

.questions__form-text {
    resize: none;
    min-height: 12.8rem;
    
}
.questions__form-checkbox {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    flex: 0 0 auto;
    margin: .5rem 1.2rem 0 0;
}

.questions__checkbox-label {
    color: var(--gray-800);
    margin-right: 5rem;
    position: relative;
    display: flex;
    width: 100%;
    line-height: 1.6;
}
.questions__form-default {
    width: 0.1rem;
    height: 0.1rem;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    
}

.questions__form-default:checked + .questions__form-custom {
    background: url("../images/icons/check.svg") 50% 50% no-repeat, var(--primary);
    border: 1px solid var(--primary);
}

.questions__form-custom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--gray-800);
    border-radius: .3rem;
    cursor: pointer;
}
.questions__form-btn {
    width: 100%;
    align-self: center;
    text-align: center;
}

/* ======================================= FOOTER ========================================== */

.footer {
    color: var(--white);
}
.footer__top {
    background-color: var(--gray-900);
    padding: 8rem 0 6rem;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.5rem;
}
.footer__top-col {
    display: flex;
    flex-direction: column;
}

.footer__top-col:first-child,
.footer__top-col:last-child {
    flex: 1 1 auto;
    width: 100%;
    max-width: 31rem;
}
.footer__logo {
    display: block;
    margin-bottom: 2.5rem;
}

.footer__top-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
    margin-bottom: 3.8rem;
}

.footer__socials {
    display: flex;
    gap: 2rem;
}

.footer__socials-link path {
    transition: var(--transition);
}
.footer__socials-link:hover path {
    fill: var(--white);
}
.footer__top-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    white-space: nowrap;
}

.footer__top-title:last-child {
    white-space: normal;
}
.footer__top-item:not(:last-child) {
    margin-bottom: .8rem;
}
.footer__item-link {
    line-height: 1.6;
    opacity: .6;
    display: flex;
    align-items: center;
    transition: var(--transition);
    white-space: nowrap;
}

.footer__item-link svg {
    margin-right: .8rem;
}

.footer__item-link:hover {
    opacity: 1;
}
.footer__form-items {
    border: 1px solid #ffffff33;
    border-radius: 4px;
    background: #ffffff1f;
    padding: .5rem 1.2rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    display: flex;
}

.footer__form-btn {
    background: transparent;
    padding: 1rem 1.2rem;
}

.footer__form-btn::before {
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background: url('../images/icons/arrow-right-mini.svg');
    transition: var(--transition);
}

.footer__form-btn:hover::before {
    transform: scale(1.2);
}
.footer__form-input {
    background: transparent;
    padding: .9rem 1.2rem .9rem 0;
    width: 100%;
    font-size: 1.2rem;
    line-height: 150%;
    color: var(--white);
}

.footer__form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--white);
    opacity: .6;
}

.form__desc {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
}
.footer__bottom {
    background-color: #292C37;
}
.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.footer__copy span {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background: url("../images/icons/heart-icon.svg") 0 0 / 100% 100% no-repeat;
    margin-inline: .45rem;
    vertical-align: sub;
}
.footer__go-top {
    opacity: .6;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    transition: var(--transition);
}

.footer__go-top:hover {
    opacity: 1;
}

